<h1>Trip <%= @trip.id %></h1>

<article>
  <ul>
    <li>Driver: <%= @driver.name %></li>
    <li>Passenger: <%= @passenger.name %></li>
    <li>Date: <%= @trip.date %></li>
    <li>Rating: <%= @trip.rating %></li>
    <li>Cost: <%= @trip.cost %>$</li>
  </ul>
</article>