<h1>Trip <%= @trip.id %></h1>

<article>
  <ul>
    <li>Driver: <%= @driver.name %></li>
    <li>Passenger: <%= @passenger.name %></li>
    <li>Date: <%= @trip.date %></li>
    <li>Rating: <%= @trip.rating %></li>
    <li>Cost: <%= @trip.cost %>$</li>
  </ul>
  <%=link_to "Edit", edit_trip_path(@trip), method: :get%>
  <%=link_to "Delete", trip_path(@trip), method: :delete, confirm: "Are you sure?"%>
</article>