<div class="form">
<% if @passenger.errors.messages.any? %>
  <section class="error-messages">
  There are errors with your submission
  <ul>
  <% @passenger.errors.messages.each do |col, prob| %>
    <% prob.each do |problem|%>
      <li><%= col%>: <%= problem%></li>
    <% end %>
  <% end %>
  </ul>
  </section>
  <% end %>

<%= form_with model: @passenger, class: "task-form" do |f| %>
  <div class="place-holder-text-field">
  <%=f.label :name, "Passenger name:" %>
  <%= f.text_field :name %>
  </div>
  <div class="place-holder-text-field">
    <%=f.label :phone_num, "Passenger number:" %>
  <%= f.text_field :phone_num %>
  </div>
  <div class="space"></div>
<%= f.submit "Create", class: "task-button"%>
<% end %>
</div>
<%= link_to 'Back', passengers_path, class: "back-button"%>
