<h1>Passenger</h1>
<article>
  <ul>
    <li><img src="http://lorempixel.com/200/200/animals" alt="Photo of passenger"></li>
    <li>Name: <%= @passenger.id %></li>
    <li>Phone number: <%= @passenger.phone_num %></li>
    <li>Total charged: $<%= @passenger.total_charged %></li>
  </ul>

</article>

<div class="form">
  <%= form_tag(create_trip_path(@passenger.id), method: "post") do %>
    <%= submit_tag("Request Trip") %>
  <% end %>
</div>

<h2>Trips</h2>
<table>
  <tr>
    <th>ID</th>
    <th>Driver</th>
    <th>Date</th>
    <th>Cost</th>
    <th>Rating</th>
  </tr>
  <% @trips.each do |trip| %>
  <tr>
    <td><%= link_to trip.id, trip_path(trip.id) %></td>
    <td><%= link_to trip.driver.name, driver_path(trip.driver.id) %></td>
    <td><%= trip.date %></td>
    <td><%= trip.cost %></td>
    <td><%= trip.rating %></td>
  </tr>
  <% end %>
</table>