<h1>Passenger #<%= @passenger.id %></h1>
<h2><%= @passenger.name %></h2>
<article>
  <ul>
    <li><img src="http://lorempixel.com/200/200/animals" alt="Photo of passenger"></li>

    <li>Phone number: <%= @passenger.phone_num %></li>
    <li>Total charged: $<%= @passenger.total_charged %></li>

  </ul>

  <div class="dropbtn-edit">
    <%= link_to "Edit", edit_passenger_path(@passenger.id), class: "link-list-edit" %>
    <%= link_to "Delete", passenger_path(@passenger.id), class: "link-list-delete" %>
  </div>

</article>

<% if @unrated_trip %>

  <div class="form">
    <%= form_tag(passenger_trip_path(@passenger.id, @unrated_trip.id), method: "patch") do %>
      <%= text_field_tag(:rating) %>
      <%= submit_tag("Rate Driver") %>
    <% end %>
  </div>
<% else %>
  <div class="form">
    <%= form_tag(passenger_trips_path(@passenger.id), method: "post") do %>
      <%= submit_tag("Request Trip") %>
    <% end %>
  </div>
<% end %>


<%= render 'shared/table' %>