
<h1>Driver #<%= @driver.id %></h1>
<h2><%= @driver.name %></h2>
<article>
  <ul>
    <li><img src="http://lorempixel.com/200/200/animals" alt="Photo of passenger"></li>
    <li>VIN: <%= @driver.vin %></li>
    <li>Total Earned: $<%= @driver.total_earned %></li>
    <li>Average Rating: <%= @driver.average_rating %></li>

  </ul>
  <div class="dropbtn-edit">
    <%= link_to "Edit", edit_driver_path(@driver.id), class: "link-list-edit" %>
    <%= link_to "Delete", driver_path(@driver.id), class: "link-list-delete" %>
  </div>

  
</article>

<%= render 'table' %>
