<!DOCTYPE html>
<html>
  <head>
    <title>RideShareRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <div class="container">
  <header class="navbar">
      <div class = "home">
      <%= link_to "Home", root_path, method: :get%>
    </div>
    <div class = "dropdown1">
    <button class = "dropbtn">Passengers
      <i class="caret-down"></i>
    </button>
    <div class="dropdown-content-pass">
      <%=link_to "Add Passenger", new_passenger_path, method: :get%>
      <%= link_to "List Passengers", passengers_path, method: :get%>
    </div>
    </div>
  <%# </div> %>
  <div class = "dropdown2">
    <button class = "dropbtn">Drivers
      <i class="caret-down"></i>
    </button>
    <div class="dropdown-content-driv">
      <%=link_to "Add Driver", new_driver_path, method: :get%>
      <%= link_to "List Drivers", drivers_path, method: :get%>
    </div>
    </div>

  </header>

  <body>
    <%= yield %>
  </body>
  </div>
</html>
